/* Copyright © 2018 Bas Kasemir and Marcel Zandberg */

@charset "utf-8";

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/opensans.woff2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color: rgba(64,64,64,1);
}

a > img {
    text-decoration: none!important;
}

.no-underline {
    text-decoration: none!important;
}

.no_selection {
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}

.cur-pointer {
    cursor: pointer;
}

.cur-wait {
    cursor: wait;
}

.cur-arrow {
    cursor: default;
}

.hideonload {
	display: none;
}

.hideonload-important {
    display: none!important;
}

body {
    background-color: rgba(234, 234, 234, 1);
}

.body-pwa {
    margin-top: 25px;
}

p {
    letter-spacing: 0.05em;
    line-height: 150%;
}

p:not(:last-of-type) {
    margin: 0 0 25px 0;
}

.container {
    width: 85%;
    min-height: 100vh;
    height: auto;
    margin: 0 auto;
    padding: 80px 15px 15px 15px;
    background-color: rgba(255, 255, 255, 1);
}

.intro {
	width: 700px;
}

table {
    border: none;
    border-collapse: collapse;
}

th, td{
    width: auto;
    padding: 5px 10px;
}

table th {
    background-color: rgba(6, 82, 221,1.0);
    color: rgba(255,255,255,1);
    text-align: left;
}

table th:last-of-type {
    border-radius: 0 3px 0 0;
}

table th:first-of-type {
    border-radius: 3px 0 0 0;
}

table tr:last-of-type td:first-of-type {
    border-radius: 0 0 0 3px;
}

table tr:last-of-type td:last-of-type {
    border-radius: 0 0 3px 0;
}

table tr {
    background-color: rgba(255,255,255,1);
}

table tr:nth-child(even) {
    background-color: rgba(234,234,234,1);
}

.btn {
    height: 40px;
    width: 200px;
    background-color: rgba(6, 82, 221,1.0);
    color: rgba(255,255,255,1);
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    padding: 8px 5px 0 5px;
    border-radius: 20px;
    transition: 0.25s ease-in-out;
    text-decoration: none!important;
    display: inline-block;
}

.download-btn {
    width: 375px!important;
    display: inline-block!important;
    position: relative;
    margin: 0 50px 25px 0!important;
}

a > .btn {
    text-decoration: none!important;
}

.btn > i {
    color: rgba(255,255,255,1);
	position: absolute;
    margin: 3px 0 0 -30px;
    transition: 0.25s ease-in-out;
}

.btn:hover {
    background-color: rgba(26, 102, 241,1.0);
}

.btn:hover:not(.btn[download]) > i {
    /*transform: scale(1.05);*/
    margin: 3px 0 0 -20px;
}

.download-btn:hover > i {
    margin: 3px 0 0 -30px!important;
}

.aff-logo {
	margin: 0 50px 0 0;
    text-decoration: none;
}

.copy {
    font-size: 0.7em;
}

.fa-external-link-alt {
    font-size: 0.5em;
}

.notification {
    height: auto;
    width: 95%;
    margin: 0;
    border-radius: 6px;
    border-width: 0px 0px 0px 15px;
    border-style: solid;
    padding: 10px;
    box-sizing: border-box;
}

.information {
    border-color: rgba(45, 152, 218,1.0);
    background-color: rgba(45, 152, 218,0.25);
}

.warning {
    border-color: rgba(254, 211, 48,1.0);
    background-color: rgba(254, 211, 48,0.25);
}

.critical {
    border-color: rgba(235, 59, 90,1.0);
    background-color: rgba(235, 59, 90,0.25);
}

/* MOBILE CLASSES */
@media only screen and (max-width: 750px) {
    .container {
        width: 95%;
        min-height: 100vh;
        height: auto;
        margin: 0 auto;
        padding: 80px 15px 15px 15px;
        background-color: rgba(255, 255, 255, 1);
    }
    
    .intro, .box {
        width: 100%;
    }

    .download-btn {
        width: 250px!important;
        min-height: 40px!important;
        height: auto;
        display: inline-block!important;
        position: relative;
        margin: 0 0 25px 0!important;
        padding: 8px 60px;
    }

    .aff-logo {
        display: block;
        float: left;
        margin-right: 100px;
    }

    .copy {
        margin-top: 15px;
    }
}