.box {
    width: 700px;
    min-height: 400px;
    height: auto;
    background-color: rgba(250,250,250,1);
    margin: 25px 0;
    border-radius: 6px;
}

.box-head {
	width: 100%;
    height: 40px;
    background-color: rgba(234,234,234,1);
    text-align: center;
    padding: 2.5px;
    border-radius: 6px 6px 0 0;
}

.boxcontent {
	padding: 15px;
}

.tabs {
    width: auto;
    height: 25px;
    margin: 5px auto;
    border-radius: 6px;
    text-align: center;
    float: 50%;
    position: relative;
}

.tab {
	width: 80px;
    height: 25px;
    display: inline-block;
    background-color: rgba(255,255,255,1);
    border: 1px solid rgba(200,200,200,1);
    cursor: pointer;
    transition: 0.25s ease-out;
    margin: 0 -2.5px;
}

.tab:first-of-type {
    border-radius: 6px 0 0 6px;
}

.tab:last-of-type {
    border-radius: 0 6px 6px 0;
}

.active-tab {
    background-color: rgba(6, 82, 221,1.0);
    color: rgba(255,255,255,1);
    border: 1px solid rgba(6, 82, 221,1.0)
}

.overflow {
    max-width: 100%;
    overflow-x: scroll;
}

/* MOBILE CLASSES */
@media only screen and (max-width: 750px) {
    .box {
        width: 100%;
    }
}