.loader-container {
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(255,255,255,1);
    border-radius: 6px;
    z-index: 99!important;
}

.grey-layer-noclick {
    height: 100vh;
    width: 100%;
    background-color: rgba(32,32,32,0.75);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 96;
}

.checkbox-container {
    height: 20px;
    width: auto;
    margin: 0 0 10px 0;
}

.checkbox {
    height: 20px;
    width: auto;
    border-radius: 3px;
    cursor: pointer;
    position: absolute;
    transition: 0.25s ease-out;
}

.checkbox .backbar {
    height: 25px;
    width: 40px;
    background-color: rgba(64,64,64,1);
    border-radius: 12.5px;
    cursor: pointer;
    position: absolute;
    transition: 0.25s ease-out;
}

.checkbox .backbar span {
	text-align: center;
    color: rgba(255,255,255,1);
    margin: 5px 0 0 1px;
    position: absolute;
    font-size: 9px;
}

.checkbox .switch {
	position: absolute;
    height: 19px;
    width: 19px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255,1.0);
    text-align: center;
    color: rgba(255,255,255,1);
    font-size: 0.75em;
    transition: 0.25s ease-out;
    margin: 3px 0 0 3px;
}
.checked .switch {
    margin: 3px 0 0 18px;
}

.checked .backbar {
	background-color: rgba(6, 82, 221,1.0);
}

.checkbox label {
    position: relative;
    margin-left: 50px;
}

.not-allowed {
    cursor: not-allowed!important;
    opacity: 0.5;
}

.not-allowed * {
    cursor: not-allowed!important;
}

.not-allowed .switch, .not-allowed label {
    opacity: 1!important;
}

.invalid-form {
    border: 1px solid rgba(234, 32, 39,1.0)!important;
}

input[type="file"] {
    -webkit-appearance: none;
    appearance:none;
    -moz-appearance:none;
}

input[type="text"], input[type="tel"], input[type="file"], select {
    height: 40px;
    width: 215px;
    font-size: 15px;
    background-color: rgba(234,234,234,1);
    border: none;
    margin: 0px;
    border-radius: 3px;
    padding: 5px 5px 5px 75px;
    display: inline-block;
    transition: 0.25s ease-out;
    box-sizing: border-box;
}

.fakeinput {
    height: 40px;
    width: 225px;
    font-size: 15px;
    background-color: rgba(234,234,234,1);
    border: none;
    margin: 0 50px 0 0;
    border-radius: 3px;
    padding: 0px 5px 5px 5px;
    position: relative;
    display: inline-block;
    overflow: visible;
}

.fakeinput label {
	width: 210px;
    overflow: visible;
}

.small-font {
    font-size: 9px;
    margin-top: -3px;
}

label {
    font-weight: 700;
    font-size: 0.8em;
    cursor: pointer;
}

.for-field {
    position: absolute;
    margin: 11px 0 0 5px;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    cursor: help;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: rgba(64,64,64,0.9);
  color: #fff;
  text-align: center;
  padding: 10px 5px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
    font-size: 0.9em;
  opacity: 0;
  transition: 0.25s ease-out;
    cursor: text;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgba(64,64,64,0.9) transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.input-labelonly {
    width: 55px!important;
    padding: 5px!important;
    border-radius: 3px 0px 0px 3px!important;
}

.date-input-container label {
    width: 50px;
}

.input-small {
    width: 45px!important;
    padding: 5px!important;
    border-radius: 0px!important;
    display: inline-block!important;
}

.input-double-small {
    width: 55px!important;
    padding: 5px!important;
    border-radius: 0px 3px 3px 0px!important;
    display: inline-block!important;
}

.label-small {
    position: absolute;
    font-size: 0.6em;
    padding: 0 0 0 5px;
}

.date-input {
    outline: none;
}

.select-wrapper {
	position: absolute;
    width: auto;
    margin: 10px 0 10px 0;
}

select {
    -webkit-appearance: none;
    appearance:none;
    -moz-appearance:none;
    width: auto;
    padding-right: 35px;
}

.fa-caret-down {
    position: absolute;
    float: right;
    right: 30px;
    margin: 10px 0 0 0;
}

.help-icon {
    position: absolute;
    float: left;
    left: 230px;
    top: 10px;
}

/* MOBILE CLASSES */
@media only screen and (max-width: 750px) {

    .fakeinput {
        height: 40px;
        width: 225px;
        font-size: 15px;
        background-color: rgba(234,234,234,1);
        border: none;
        margin: 0 0 15px 0;
        border-radius: 3px;
        padding: 0px 5px 5px 5px;
        position: relative;
        overflow: visible;
    }

    /* Tooltip text */
    .tooltip .tooltiptext {
        visibility: hidden;
        width: 200px;
        background-color: rgba(64,64,64,1);
        color: #fff;
        text-align: center;
        padding: 10px 5px;
        border-radius: 6px;
        position: absolute;
        z-index: 1;
        bottom: 50%;
        transform: translate(-110%, 50%);
        font-size: 0.9em;
        opacity: 0;
        transition: 0.25s ease-out;
        cursor: text;
    }

    /* Tooltip arrow */
    .tooltip .tooltiptext::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 100%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        transform: translate(50%,-50%);
        border-color: transparent transparent transparent rgba(64,64,64,1);
    }
}