/* Copyright © 2018 Bas Kasemir and Marcel Zandberg */

@charset "utf-8";

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/opensans.woff2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color: rgba(64,64,64,1);
}

a {
    
}

.no_selection {
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}

.cur-pointer {
    cursor: pointer;
}

.cur-wait {
    cursor: wait;
}

.cur-arrow {
    cursor: default;
}

.hideonload {
	display: none!important;
}

body {
    background-color: rgba(234, 234, 234, 1);
}

p {
    letter-spacing: 0.05em;
    line-height: 150%;
}

p:not(:last-of-type) {
    margin: 0 0 25px 0;
}

.container {
    width: 85%;
    min-height: 100vh;
    height: auto;
    margin: 0 auto;
    padding: 80px 15px 15px 15px;
    background-color: rgba(255, 255, 255, 1);
}

.intro {
	width: 700px;
}

.btn {
    height: 40px;
    width: 200px;
    background-color: rgba(6, 82, 221,1.0);
    color: rgba(255,255,255,1);
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    padding: 8px 5px 0 5px;
    border-radius: 20px;
    transition: 0.25s ease-in-out;
}

.btn > i {
    color: rgba(255,255,255,1);
	position: absolute;
    margin: 3px 0 0 -30px;
    transition: 0.25s ease-in-out;
}

.btn:hover {
    background-color: rgba(26, 102, 241,1.0);
}

.btn:hover > i {
    /*transform: scale(1.05);*/
    margin: 3px 0 0 -20px;
}

.aff-logo {
	margin: 0 50px 0 0;
    text-decoration: none;
}

.copy {
    font-size: 0.7em;
}

.fa-external-link-alt {
    font-size: 0.5em;
}

/* MOBILE CLASSES */
@media only screen and (max-width: 750px) {
    .container {
        width: 95%;
        min-height: 100vh;
        height: auto;
        margin: 0 auto;
        padding: 80px 15px 15px 15px;
        background-color: rgba(255, 255, 255, 1);
    }
    
    .intro, .box {
        width: 100%;
    }
}