.loader-container {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(255,255,255,1);
    border-radius: 6px;
}

.checkbox-container {
    height: 20px;
    width: auto;
    margin: 0 0 10px 0;
}

.checkbox {
    height: 20px;
    width: auto;
    border-radius: 3px;
    cursor: pointer;
    position: absolute;
}

.checkbox .backbar {
    height: 25px;
    width: 40px;
    background-color: rgba(64,64,64,1);
    border-radius: 12.5px;
    cursor: pointer;
    position: absolute;
    transition: 0.25s ease-out;
}

.checkbox .backbar span {
	text-align: center;
    color: rgba(255,255,255,1);
    margin: 5px 0 0 1px;
    position: absolute;
    font-size: 9px;
}

.checkbox .switch {
	position: absolute;
    height: 19px;
    width: 19px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255,1.0);
    text-align: center;
    color: rgba(255,255,255,1);
    font-size: 0.75em;
    transition: 0.25s ease-out;
    margin: 3px 0 0 3px;
}
.checked .switch {
    margin: 3px 0 0 18px;
}

.checked .backbar {
	background-color: rgba(6, 82, 221,1.0);
}

.checkbox label {
    position: relative;
    margin-left: 50px;
}

.invalid-form {
    border: 1px solid rgba(234, 32, 39,1.0)!important;
}

input[type="file"] {
    -webkit-appearance: none;
    appearance:none;
    -moz-appearance:none;
}

input[type="text"], input[type="tel"], input[type="file"], select {
    height: 40px;
    width: 225px;
    font-size: 15px;
    background-color: rgba(234,234,234,1);
    border: none;
    margin: 0px;
    border-radius: 3px;
    padding: 5px 5px 5px 75px;
    display: inline-block;
}

.fakeinput {
    height: 40px;
    width: 225px;
    font-size: 15px;
    background-color: rgba(234,234,234,1);
    border: none;
    margin: 0px 0 0 0;
    border-radius: 3px;
    padding: 0px 5px 5px 5px;
    display: inline-block;
}

.fakeinput > .fa-question-circle {
    margin: 10px 0 0 225px;
    float: right;
    position: absolute;
}

.fakeinput label {
	width: 210px;
}

label {
    font-weight: 700;
    font-size: 0.8em;
    cursor: pointer;
}

.for-field {
    position: absolute;
    margin: 11px 0 0 5px;
}

.input-spacer {
    width: 40px;
    height: 40px;
    display: inline-block;
}

.input-spacer-file {
    width: 60px;
    height: 40px;
    display: inline-block;
}



/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
    cursor: help;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: rgba(64,64,64,0.9);
  color: #fff;
  text-align: center;
  padding: 10px 5px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
    font-size: 0.9em;
  opacity: 0;
  transition: 0.25s ease-out;
    cursor: text;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgba(64,64,64,0.9) transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.input-labelonly {
    width: 30px!important;
    padding: 5px 5px 5px 75px;
    margin-right: -5px!important;
}

.input-small {
    width: 45px!important;
    padding: 5px!important;
    margin-right: -5px!important;
}

.input-double-small {
    max-width: 55px!important;
    padding: 5px!important;
    margin-right: -5px!important;
}

.label-small {
    position: absolute;
    font-size: 0.6em;
    padding: 0 0 0 5px;
}

.date-input {
    outline: none;
}

.select-wrapper {
	position: absolute;
    width: auto;
    margin: 10px 0 10px 0;
}

select {
    -webkit-appearance: none;
    appearance:none;
    -moz-appearance:none;
    width: auto;
    padding-right: 35px;
}

.fa-caret-down {
    position: absolute;
    float: right;
    right: 30px;
    margin: 10px 0 0 0;
}