/* Copyright © 2018 Bas Kasemir and Marcel Zandberg */

@charset "utf-8";

.header {
    height: 65px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 97;
    background-color: rgba(6, 82, 221,1.0);
    padding: 18px 7.5%;
    color: rgba(255,255,255,1);
}

.header * {
    color: rgba(255,255,255,1);
}

.header h3 {
	font-size: 20px;    
}

.header nav {
    float: right;
    display: inline-block;
    margin-top: -27px;
}

.header nav h3 {
    display: inline-block;
    margin: 0 0 0 20px;
    cursor: pointer;
}

.header nav {
    display: block;
}

.header #toggleMenu {
	display: none;
}

/* MOBILE CLASSES */
@media only screen and (max-width: 750px) {
    
    .header {
        padding-left: 2.5%;
    }
    
    .header #toggleMenu {
        font-size: 25px;
        cursor: pointer;
        float: right;
        display: inline-block;
        margin-top: -29px;
    }
    
    .header nav {
        display: none;
        position: fixed;
        top: 92px;
        right: 2.5%;
        z-index: 99;
        float: right;
        width: auto;
        height: auto;
        min-width: 100px;
        padding: 5px 15px;
        background-color: rgba(6, 82, 221,1.0);
    }
    
    .header nav h3 {
        text-align: right;
        margin: 0 0 5px 0;
        cursor: pointer;
        text-align: right;
        float: right;
        position: relative;
        display: block!important;
        width: auto;
    }
}