.grey-layer {
	height: 100vh;
    width: 100%;
    background-color: rgba(32,32,32,0.75);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 96;
}

.popup {
	position: fixed;
    height: auto;
    min-width: 200px;
    min-height: 100px;
    width: 65%;
    border-radius: 6px;
    background-color: rgba(255,255,255,1);
    z-index: 98;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    transition: 0.5s ease-out;
    box-shadow: 0 0 10px rgba(64,64,64,0.5);
    overflow-y: scroll;
}

.popup h3 {
	font-size: 1.25em;
    margin-bottom: 20px;
}

.close-popup {
	height: 25px;
    width: 25px;
    position: static;
    z-index: 99;
    right: -12.5px;
    top: -12.5px;
    float: right;
    text-align: center;
    border-radius: 50%;
    background-color: rgba(255,255,255,1);
    cursor: pointer;
    padding: 1px;
    box-shadow: 0 0 10px rgba(64,64,64,0.5); 
}

/* MOBILE CLASSES */
@media only screen and (max-width: 750px) {
    .popup {
        width: 85%;
        max-height: 60vh;
    }
}